.login-button {
    display: flex;
    justify-content: flex-end;
    margin: 20px;
    cursor: pointer;
}

.nav-section{
    display: flex;
    justify-content: center;
}

.menu-list {
    display: flex;
    list-style-type: none;
}

.menu-list li {
    padding: 10px;
}

.menu-area{
    display: flex;
    justify-content: center;
    padding-left: 300px;
}

.product-card img{
    width: 100%;
}

.menu-area input {
    border: none;
    border-bottom: 2px solid black;
    padding-bottom: 4px;
}

.menu-area div{
    position: relative;
    padding-left: 200px;
}

.product-img{
    display: flex;
    justify-content: flex-end;
}

